PORT=8000
MONGODB_URI=mongodb+srv://nikhil:Nikhil1111.@cluster0.d6ye2tq.mongodb.net
ACCESS_TOKEN_SECRET=chai-aur-code-access
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-code-refresh
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME="dzhqarqbn"
CLOUDINARY_API_KEY="627726924312552"
CLOUDINARY_API_SECRET="byHhVfNc2uWanegXUWoS1fb4r-c"